{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "JSX": true
  },
  "plugins": [
    "eslint-plugin-import",
    "eslint-plugin-react",
    "eslint-plugin-react-hooks",
    "@typescript-eslint/eslint-plugin"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-const-assign": "error",
    "no-case-declarations": "warn",
    "no-empty-pattern": "error",
    "no-fallthrough": "warn",
    "no-global-assign": "error",
    "no-alert": "error",
    "no-with": "error",
    "no-delete-var": "error",
    "no-shadow-restricted-names": "error",
    "no-dupe-class-members": "error",
    "no-new-symbol": "error",
    "no-this-before-super": "error",
    "no-undef": "error",
    "no-console": "warn",
    "no-octal": "error",
    "no-redeclare": "error",
    "no-self-assign": "error",
    "no-useless-catch": "error",
    "no-useless-escape": "warn",
    "no-unused-vars": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-class-assign": "error",
    "constructor-super": "error",
    "require-yield": "error",
    "prefer-const": "error",
    "default-case": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": [2, { "ignore": ["children"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [["@sonnat/ui", "./packages/sonnat-ui/src"]]
      }
    }
  }
}
