__test__
.github/
.next/
examples/
node_modules/
scripts/
src/
pages/
public/
templates/
.npmignore
.editorconfig
.eslintrc
.eslintignore
.eslintrc.*
.prettierrc
.prettierignore
.prettierrc.*
.gitignore
next-env.d.ts
tsconfig.json
tsconfig.esm.json
tsconfig.cjs.json
yarn.lock
package-lock.json
sonnat-logo.svg
