$sonnat-icon-font-family: "sonnat-icon" !default;
$sonnat-icon-font-path: "font-icon" !default;
$sonnat-icon-account-cash-o: "\e900";
$sonnat-icon-account-multiple: "\e901";
$sonnat-icon-account-o: "\e902";
$sonnat-icon-account-plus-o: "\e903";
$sonnat-icon-account-plus: "\e904";
$sonnat-icon-account: "\e905";
$sonnat-icon-alert-circle-o: "\e906";
$sonnat-icon-alert-circle: "\e907";
$sonnat-icon-alert-o: "\e908";
$sonnat-icon-alert-octagon-o: "\e909";
$sonnat-icon-alert-octagon: "\e90a";
$sonnat-icon-alert: "\e90b";
$sonnat-icon-android: "\e90c";
$sonnat-icon-aparat: "\e90d";
$sonnat-icon-apple: "\e90e";
$sonnat-icon-arow-down: "\e90f";
$sonnat-icon-arrow-down-large: "\e910";
$sonnat-icon-arrow-left-large: "\e911";
$sonnat-icon-arrow-left: "\e912";
$sonnat-icon-arrow-right-large: "\e913";
$sonnat-icon-arrow-right: "\e914";
$sonnat-icon-arrow-up-large: "\e915";
$sonnat-icon-arrow-up: "\e916";
$sonnat-icon-backward-step-15: "\e917";
$sonnat-icon-badge-account: "\e918";
$sonnat-icon-balcony-o: "\e919";
$sonnat-icon-bell-o: "\e91a";
$sonnat-icon-bell: "\e91b";
$sonnat-icon-binder-o: "\e91c";
$sonnat-icon-binder: "\e91d";
$sonnat-icon-bookmark-o: "\e91e";
$sonnat-icon-bookmark: "\e91f";
$sonnat-icon-briefcase-o: "\e920";
$sonnat-icon-brush-o: "\e921";
$sonnat-icon-brush: "\e922";
$sonnat-icon-building-o: "\e923";
$sonnat-icon-building-variant-o: "\e924";
$sonnat-icon-building: "\e925";
$sonnat-icon-burger-menu: "\e926";
$sonnat-icon-cabinet-o: "\e927";
$sonnat-icon-cached: "\e928";
$sonnat-icon-cafebazaar-type: "\e929";
$sonnat-icon-calendar-text: "\e92a";
$sonnat-icon-call-made: "\e92b";
$sonnat-icon-call-received: "\e92c";
$sonnat-icon-camera-loading-o: "\e92d";
$sonnat-icon-camera-o: "\e92e";
$sonnat-icon-camera-off-o: "\e92f";
$sonnat-icon-camera-plus-o: "\e930";
$sonnat-icon-cancel-circle-o: "\e931";
$sonnat-icon-cancel-circle: "\e932";
$sonnat-icon-car-body-o: "\e933";
$sonnat-icon-car-body: "\e934";
$sonnat-icon-car-check: "\e935";
$sonnat-icon-car-engine-o: "\e936";
$sonnat-icon-car-engine: "\e937";
$sonnat-icon-car-hydraulics-o: "\e938";
$sonnat-icon-car-hydraulics: "\e939";
$sonnat-icon-car-o: "\e93a";
$sonnat-icon-car-search: "\e93b";
$sonnat-icon-car-seatbelt-o: "\e93c";
$sonnat-icon-car-seatbelt: "\e93d";
$sonnat-icon-car-tires-o: "\e93e";
$sonnat-icon-car-tires: "\e93f";
$sonnat-icon-car: "\e940";
$sonnat-icon-card-account-phone: "\e941";
$sonnat-icon-card-text-o: "\e942";
$sonnat-icon-card-text: "\e943";
$sonnat-icon-cart-o: "\e944";
$sonnat-icon-cart: "\e945";
$sonnat-icon-cash-multiple-o: "\e946";
$sonnat-icon-cellphone-iphone-o: "\e947";
$sonnat-icon-chair-rolling-o: "\e948";
$sonnat-icon-chair-rolling: "\e949";
$sonnat-icon-chart-square-o: "\e94a";
$sonnat-icon-chart-square: "\e94b";
$sonnat-icon-chart: "\e94c";
$sonnat-icon-chat-o: "\e94d";
$sonnat-icon-chat: "\e94e";
$sonnat-icon-check-all: "\e94f";
$sonnat-icon-check-cellphone-iphone-o: "\e950";
$sonnat-icon-check-circle-large-o: "\e951";
$sonnat-icon-check-circle-large: "\e952";
$sonnat-icon-check-circle-o: "\e953";
$sonnat-icon-check-circle: "\e954";
$sonnat-icon-check-decogram: "\e955";
$sonnat-icon-check: "\e956";
$sonnat-icon-chevron-down: "\e957";
$sonnat-icon-chevron-left-circle: "\e958";
$sonnat-icon-chevron-left-large: "\e959";
$sonnat-icon-chevron-left: "\e95a";
$sonnat-icon-chevron-right-circle: "\e95b";
$sonnat-icon-chevron-right-large: "\e95c";
$sonnat-icon-chevron-right: "\e95d";
$sonnat-icon-chevron-up: "\e95e";
$sonnat-icon-circle-o: "\e95f";
$sonnat-icon-circle-slice-o: "\e960";
$sonnat-icon-clock-large-o: "\e961";
$sonnat-icon-clock-large: "\e962";
$sonnat-icon-clock-o: "\e963";
$sonnat-icon-clock: "\e964";
$sonnat-icon-close-circle-large-o: "\e965";
$sonnat-icon-close-circle-large: "\e966";
$sonnat-icon-close-circle-o: "\e967";
$sonnat-icon-close-circle: "\e968";
$sonnat-icon-close-large: "\e969";
$sonnat-icon-close: "\e96a";
$sonnat-icon-cloud-o: "\e96b";
$sonnat-icon-cloud-upload-o: "\e96c";
$sonnat-icon-cloud: "\e96d";
$sonnat-icon-cog-o: "\e96e";
$sonnat-icon-cog: "\e96f";
$sonnat-icon-content-copy: "\e970";
$sonnat-icon-credit-card-o: "\e971";
$sonnat-icon-credit-card: "\e972";
$sonnat-icon-crop-landscape: "\e973";
$sonnat-icon-crop-square: "\e974";
$sonnat-icon-crop: "\e975";
$sonnat-icon-crosshairs-gps: "\e976";
$sonnat-icon-currency-usd: "\e977";
$sonnat-icon-dialog-o: "\e978";
$sonnat-icon-dialog: "\e979";
$sonnat-icon-dice-multiple-o: "\e97a";
$sonnat-icon-discord: "\e97b";
$sonnat-icon-divar: "\e97c";
$sonnat-icon-dots-horizontal: "\e97d";
$sonnat-icon-dots-vertical: "\e97e";
$sonnat-icon-download: "\e97f";
$sonnat-icon-elevator-o: "\e980";
$sonnat-icon-email-o: "\e981";
$sonnat-icon-email: "\e982";
$sonnat-icon-eraser-o: "\e983";
$sonnat-icon-export-share: "\e984";
$sonnat-icon-eye-o: "\e985";
$sonnat-icon-eye: "\e986";
$sonnat-icon-fa-number-1: "\e987";
$sonnat-icon-fa-number-2: "\e988";
$sonnat-icon-fa-number-3: "\e989";
$sonnat-icon-fa-number-4: "\e98a";
$sonnat-icon-fa-number-5: "\e98b";
$sonnat-icon-fa-number-6: "\e98c";
$sonnat-icon-fa-number-7: "\e98d";
$sonnat-icon-fa-number-8: "\e98e";
$sonnat-icon-fa-number-9: "\e98f";
$sonnat-icon-facebook-type: "\e990";
$sonnat-icon-facebook: "\e991";
$sonnat-icon-file-document-multiple-o: "\e992";
$sonnat-icon-file-document-multiple: "\e993";
$sonnat-icon-file-multiple-o: "\e994";
$sonnat-icon-file-multiple: "\e995";
$sonnat-icon-file-o: "\e996";
$sonnat-icon-file: "\e997";
$sonnat-icon-filter-o: "\e998";
$sonnat-icon-filter-variant: "\e999";
$sonnat-icon-fingerprint: "\e99a";
$sonnat-icon-flag-o: "\e99b";
$sonnat-icon-flag: "\e99c";
$sonnat-icon-flip-horizontal: "\e99d";
$sonnat-icon-format-paint-o: "\e99e";
$sonnat-icon-format-paint: "\e99f";
$sonnat-icon-forward-step-15: "\e9a0";
$sonnat-icon-fullscreen: "\e9a1";
$sonnat-icon-gavel-o: "\e9a2";
$sonnat-icon-gavel-variant-o: "\e9a3";
$sonnat-icon-gavel-variant: "\e9a4";
$sonnat-icon-gavel: "\e9a5";
$sonnat-icon-gift-o: "\e9a6";
$sonnat-icon-github-cat: "\e9a7";
$sonnat-icon-github: "\e9a8";
$sonnat-icon-gitlab: "\e9a9";
$sonnat-icon-hashtag: "\e9aa";
$sonnat-icon-headphones-o: "\e9ab";
$sonnat-icon-headphones: "\e9ac";
$sonnat-icon-heart-o: "\e9ad";
$sonnat-icon-heart: "\e9ae";
$sonnat-icon-help-circle-o: "\e9af";
$sonnat-icon-help-circle: "\e9b0";
$sonnat-icon-help: "\e9b1";
$sonnat-icon-history: "\e9b2";
$sonnat-icon-home-o: "\e9b3";
$sonnat-icon-home: "\e9b4";
$sonnat-icon-house-inspection: "\e9b5";
$sonnat-icon-image-multiple-o: "\e9b6";
$sonnat-icon-image-multiple: "\e9b7";
$sonnat-icon-image-o: "\e9b8";
$sonnat-icon-image-plus-o: "\e9b9";
$sonnat-icon-image: "\e9ba";
$sonnat-icon-info-circle-large-o: "\e9bb";
$sonnat-icon-info-circle-large: "\e9bc";
$sonnat-icon-info-circle-o: "\e9bd";
$sonnat-icon-info-circle: "\e9be";
$sonnat-icon-instagram-fill: "\e9bf";
$sonnat-icon-instagram-o: "\e9c0";
$sonnat-icon-karnameh-badge: "\e9c1";
$sonnat-icon-karnameh-check: "\e9c2";
$sonnat-icon-karnameh: "\e9c3";
$sonnat-icon-ladder-multiple: "\e9c4";
$sonnat-icon-ladder-square-multiple-o: "\e9c5";
$sonnat-icon-ladder-square-multiple: "\e9c6";
$sonnat-icon-ladder: "\e9c7";
$sonnat-icon-lamp-o: "\e9c8";
$sonnat-icon-lifebuoy: "\e9c9";
$sonnat-icon-link: "\e9ca";
$sonnat-icon-linkedin-type: "\e9cb";
$sonnat-icon-linkedin: "\e9cc";
$sonnat-icon-lock-o: "\e9cd";
$sonnat-icon-lock: "\e9ce";
$sonnat-icon-login: "\e9cf";
$sonnat-icon-logout: "\e9d0";
$sonnat-icon-magnifier-large: "\e9d1";
$sonnat-icon-magnifier: "\e9d2";
$sonnat-icon-map-marker-dots-o: "\e9d3";
$sonnat-icon-map-marker-o: "\e9d4";
$sonnat-icon-map-marker-plus-o: "\e9d5";
$sonnat-icon-map-marker-plus: "\e9d6";
$sonnat-icon-map-marker: "\e9d7";
$sonnat-icon-map-o: "\e9d8";
$sonnat-icon-map: "\e9d9";
$sonnat-icon-medium: "\e9da";
$sonnat-icon-menu-up: "\e9db";
$sonnat-icon-message-alert-o: "\e9dc";
$sonnat-icon-message-alert: "\e9dd";
$sonnat-icon-message-processing-o: "\e9de";
$sonnat-icon-message-processing: "\e9df";
$sonnat-icon-microphone-o: "\e9e0";
$sonnat-icon-microphone: "\e9e1";
$sonnat-icon-minus: "\e9e2";
$sonnat-icon-moped-o: "\e9e3";
$sonnat-icon-moped: "\e9e4";
$sonnat-icon-mouse-thick: "\e9e5";
$sonnat-icon-mouse-thin: "\e9e6";
$sonnat-icon-near-me-o: "\e9e7";
$sonnat-icon-near-me: "\e9e8";
$sonnat-icon-night-circle-o: "\e9e9";
$sonnat-icon-night-circle: "\e9ea";
$sonnat-icon-night-o: "\e9eb";
$sonnat-icon-night: "\e9ec";
$sonnat-icon-paint-brush-o: "\e9ed";
$sonnat-icon-paperclip-thick: "\e9ee";
$sonnat-icon-paperclip-thin: "\e9ef";
$sonnat-icon-pencil-o: "\e9f0";
$sonnat-icon-pencil: "\e9f1";
$sonnat-icon-phone-classic-top: "\e9f2";
$sonnat-icon-phone-hangup-o: "\e9f3";
$sonnat-icon-phone-hangup: "\e9f4";
$sonnat-icon-phone-in-talk-o: "\e9f5";
$sonnat-icon-phone-in-talk: "\e9f6";
$sonnat-icon-phone-o: "\e9f7";
$sonnat-icon-phone: "\e9f8";
$sonnat-icon-pin-map: "\e9f9";
$sonnat-icon-pin-o: "\e9fa";
$sonnat-icon-pin-variant-o: "\e9fb";
$sonnat-icon-pin-variant: "\e9fc";
$sonnat-icon-pin: "\e9fd";
$sonnat-icon-play-o: "\e9fe";
$sonnat-icon-play: "\e9ff";
$sonnat-icon-plus-circle-large-o: "\ea00";
$sonnat-icon-plus-circle-large: "\ea01";
$sonnat-icon-plus-circle-o: "\ea02";
$sonnat-icon-plus-circle: "\ea03";
$sonnat-icon-plus: "\ea04";
$sonnat-icon-refresh: "\ea05";
$sonnat-icon-renew: "\ea06";
$sonnat-icon-rotate-90: "\ea07";
$sonnat-icon-rotate-left: "\ea08";
$sonnat-icon-rotate-right: "\ea09";
$sonnat-icon-school-o: "\ea0a";
$sonnat-icon-school: "\ea0b";
$sonnat-icon-script-o: "\ea0c";
$sonnat-icon-script-plus-o: "\ea0d";
$sonnat-icon-script-text-o: "\ea0e";
$sonnat-icon-script-text-plus-o: "\ea0f";
$sonnat-icon-send-o: "\ea10";
$sonnat-icon-send: "\ea11";
$sonnat-icon-share-variant-o: "\ea12";
$sonnat-icon-share-variant: "\ea13";
$sonnat-icon-shield-check-circle-o: "\ea14";
$sonnat-icon-shield-check-o: "\ea15";
$sonnat-icon-shield-check: "\ea16";
$sonnat-icon-skull-o: "\ea17";
$sonnat-icon-skull: "\ea18";
$sonnat-icon-sms-o: "\ea19";
$sonnat-icon-sms: "\ea1a";
$sonnat-icon-snowflake: "\ea1b";
$sonnat-icon-sonnat-o: "\ea1c";
$sonnat-icon-sonnat-thick-o: "\ea1d";
$sonnat-icon-sonnat-thin-o: "\ea1e";
$sonnat-icon-sort-alphabetical-ascending-en: "\ea1f";
$sonnat-icon-sort-alphabetical-ascending-fa: "\ea20";
$sonnat-icon-speedometer-o: "\ea21";
$sonnat-icon-speedometer: "\ea22";
$sonnat-icon-star-circle-o: "\ea23";
$sonnat-icon-star-half-left: "\ea24";
$sonnat-icon-star-half-right: "\ea25";
$sonnat-icon-star-o: "\ea26";
$sonnat-icon-star: "\ea27";
$sonnat-icon-store-o: "\ea28";
$sonnat-icon-store: "\ea29";
$sonnat-icon-table-of-contents: "\ea2a";
$sonnat-icon-tablet-ipad-o: "\ea2b";
$sonnat-icon-tag-remove-o: "\ea2c";
$sonnat-icon-tag-remove: "\ea2d";
$sonnat-icon-telegram-o: "\ea2e";
$sonnat-icon-text-square-o: "\ea2f";
$sonnat-icon-text-square: "\ea30";
$sonnat-icon-texture-square-o: "\ea31";
$sonnat-icon-thermometer: "\ea32";
$sonnat-icon-thumb-down-o: "\ea33";
$sonnat-icon-thumb-down: "\ea34";
$sonnat-icon-thumb-up-o: "\ea35";
$sonnat-icon-thumb-up: "\ea36";
$sonnat-icon-timer-o: "\ea37";
$sonnat-icon-tooltip-image-o: "\ea38";
$sonnat-icon-tooltip-image: "\ea39";
$sonnat-icon-tooltip-text-o: "\ea3a";
$sonnat-icon-tooltip-text: "\ea3b";
$sonnat-icon-trash-can-o: "\ea3c";
$sonnat-icon-trash-can: "\ea3d";
$sonnat-icon-trending-up: "\ea3e";
$sonnat-icon-truck-o: "\ea3f";
$sonnat-icon-truck: "\ea40";
$sonnat-icon-tune: "\ea41";
$sonnat-icon-twitter: "\ea42";
$sonnat-icon-virgool: "\ea43";
$sonnat-icon-virus-o: "\ea44";
$sonnat-icon-volume-high: "\ea45";
$sonnat-icon-volume-medium: "\ea46";
$sonnat-icon-volume-mute: "\ea47";
$sonnat-icon-volume-off: "\ea48";
$sonnat-icon-watch-o: "\ea49";
$sonnat-icon-wc: "\ea4a";
$sonnat-icon-weather-sunny-o: "\ea4b";
$sonnat-icon-weather-sunny: "\ea4c";
$sonnat-icon-z-axis-rotate-counter-clockwise: "\ea4d";
